.header {
  position: relative;
  height: 100vh;
  background-image: url(../images/hero.jpg);
  background-size: cover;

  &__main {
    position: absolute;
    right: 43%; //45%
    top: 10%; //15
    color: #fff;
    text-align: center;

    // text-transform: uppercase;

    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));

    h1 {
      font-family: "raleway";
      font-weight: 700;
      // width: max-content;
      font-size: 5rem;
      letter-spacing: 1rem;
      animation: text-clip 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
    }

    .png {
      width: 40em;
    }
  }

  &-clipped {
    position: absolute;
    width: 60%;
    height: inherit;
    background-image: url(../images/hero2.jpg);
    left: 40%;

    -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 10% 100%);
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 20% 100%);

    transform-origin: right;

    .can-wrapper {
      position: absolute;
      display: flex;
      top: 25%;
      left: 30%;
    }
    .can {
      margin-right: 30px;
    }
    .can > img {
      width: 120px;
      height: auto;
      filter: drop-shadow(-1px 10px 4px rgba(50, 50, 0, 0.5));
    }
  }

  &__textbox {
    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-50%, -50%);

    h2 {
      font-family: "rubik";
      width: max-content;
      font-size: 4rem;
      font-weight: 400;
    }

    .name {
      font-family: "roboto";
      font-size: 8rem;
      color: rgb(128, 61, 204);
      font-weight: 600;
      text-decoration: underline;
    }

    &--sub {
      font-family: "ubuntu";
      font-size: 1.5rem;
      font-weight: 400;
      // padding: 2rem;
      text-align: left;
      margin-top: 1rem;

      .know-more {
        background-color: yellowgreen;
        margin-top: 2rem;
        text-align: center;
        padding: 0.5rem;
        font-size: 1.5rem;
      }
    }
  }

  .menu {
    cursor: pointer;
    color: #fff;
  }
}
