.header {
  position: relative;
  height: 100vh;
  background-color: #0a0e50;

  &__main {
    position: absolute;
    right: 45%; //45%
    top: 15%; //15
    width: min-content;
    text-align: left;
    overflow: hidden;

    // text-transform: uppercase;
    h1 {
      font-family: "raleway", sans-serif;
      font-weight: 700;
      // color: #fff;
      font-size: 9.5rem;

      // background-color: #f3ec78;
      // background-image: linear-gradient(45deg, #f3ec78, #af4261);
      background-image: linear-gradient(
        to right,
        #151ef0,
        #fa0095,
        #ff002f,
        #fa9e00,
        #a8eb12
      );
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;

      animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) both;
      // animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
    }
  }

  &-clipped {
    position: absolute;
    width: 61%;
    left: 41%;
    height: inherit;
    background-color: #faf3b2;
    transform-origin: right;

    // -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 10% 100%);
    // clip-path: polygon(30% 0, 100% 0, 100% 100%, 20% 100%);

    -webkit-clip-path: polygon(33% 0, 100% 100, 100% 100%, 33% 100%, 20% 48%);
    clip-path: polygon(33% 0, 100% 0, 100% 100%, 33% 100%, 20% 48%);

    .can-wrapper {
      position: absolute;
      display: flex;
      top: 65%;
      left: 28%;

      .js {
        width: 150px;
      }
    }
    .can {
      margin-right: 30px;
    }
    .can > img {
      width: 120px;
      height: auto;
      filter: drop-shadow(-1px 10px 4px rgba(50, 50, 0, 0.5));
    }
  }

  &__textbox {
    color: #0a0e50;
    position: absolute;
    top: 40%;
    left: 60%;
    text-align: center;
    transform: translate(-50%, -50%);

    h2 {
      font-family: "rubik";
      width: max-content;
      font-size: 5rem;
      font-weight: 700;
      text-decoration: underline;
    }

    h3 {
      font-family: "raleway";
      font-weight: 700;
      font-size: 4rem;
    }

    .name {
      font-family: "roboto";
      font-size: 6rem;
      color: #f70e63;
      font-weight: 600;
      text-decoration: underline;
    }

    &--sub {
      font-family: "quicksand";
      font-size: 1.5rem;
      font-weight: 500;
      // padding: 2rem;
      text-align: center;
      margin-top: 1rem;

      .know-more {
        background-color: yellowgreen;
        margin-top: 2rem;
        text-align: center;
        padding: 0.5rem;
        font-size: 1.5rem;
      }
    }
  }

  .menu {
    cursor: pointer;
    color: #fff;
  }
}
