.navigation {
  position: fixed;
  width: 20rem;
  left: -24rem;
  height: 100%;
  text-align: center;
  background-color: #1e1e1e;
  transition: 0.3s;
  z-index: 6;

  &__menu {
    margin-top: 5rem;
  }

  .closebtn {
    font-size: 3.6rem;
  }

  a {
    color: white;
    font-size: 2rem;
    font-weight: 600;
  }

  .logo {
    width: 20rem;
    height: 20rem;
  }
}

li {
  text-decoration: none;
  list-style: none;
  margin-top: 5rem;
  display: block;

  :hover {
    color: #eb2f64;
  }
}

.menu-bar {
  position: absolute;
  color: #05fc95;
  top: 0; /* Stay at the top */
  left: 0;
  z-index: 4;
  margin-left: 2rem;
  font-size: 5rem;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}
