.navigation {
  position: fixed;
  width: 17rem;
  left: -24rem;
  height: 100%;
  text-align: center;
  background-color: #1e1e1e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 6;
}

.navigation__menu {
  margin-top: 5rem;
}

.navigation .closebtn {
  font-size: 3.6rem;
}

.navigation a {
  color: white;
  font-size: 2rem;
}

.navigation :hover {
  color: #eb2f64;
}

li {
  text-decoration: none;
  list-style: none;
  margin-top: 5rem;
  display: block;
}

.menu-bar {
  position: absolute;
  color: #1e1e1e;
  top: 0;
  /* Stay at the top */
  left: 0;
  z-index: 4;
  margin-left: 2rem;
  font-size: 5rem;
  -webkit-filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
          filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "montserrat", "poppins";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  overflow-x: hidden;
}

.container {
  width: 600%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

section {
  width: 99vw;
  height: 100vh;
}

.header {
  position: relative;
  height: 100vh;
  background-image: url(../images/hero.jpg);
  background-size: cover;
}

.header__main {
  position: absolute;
  right: 43%;
  top: 10%;
  color: #fff;
  text-align: center;
  -webkit-filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
          filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.header__main h1 {
  font-family: "raleway";
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 1rem;
  -webkit-animation: text-clip 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: text-clip 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.header__main .png {
  width: 40em;
}

.header-clipped {
  position: absolute;
  width: 60%;
  height: inherit;
  background-image: url(../images/hero2.jpg);
  left: 40%;
  -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 10% 100%);
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 20% 100%);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.header-clipped .can-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 25%;
  left: 30%;
}

.header-clipped .can {
  margin-right: 30px;
}

.header-clipped .can > img {
  width: 120px;
  height: auto;
  -webkit-filter: drop-shadow(-1px 10px 4px rgba(50, 50, 0, 0.5));
          filter: drop-shadow(-1px 10px 4px rgba(50, 50, 0, 0.5));
}

.header__textbox {
  position: absolute;
  top: 80%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__textbox h2 {
  font-family: "rubik";
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 4rem;
  font-weight: 400;
}

.header__textbox .name {
  font-family: "roboto";
  font-size: 8rem;
  color: #803dcc;
  font-weight: 600;
  text-decoration: underline;
}

.header__textbox--sub {
  font-family: "ubuntu";
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
  margin-top: 1rem;
}

.header__textbox--sub .know-more {
  background-color: yellowgreen;
  margin-top: 2rem;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.header .menu {
  cursor: pointer;
  color: #fff;
}

.skill {
  position: relative;
  height: 100vh;
  background: turquoise;
}

@-webkit-keyframes text-clip {
  from {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes text-clip {
  from {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes moveinRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(10rem);
            transform: translate(10rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 100%;
  }
}

@keyframes moveinRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(10rem);
            transform: translate(10rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 100%;
  }
}
/*# sourceMappingURL=main.css.map */