.navigation {
  position: fixed;
  width: 17rem;
  left: -24rem;
  height: 100%;
  text-align: center;
  background-color: #1e1e1e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 6;
}

.navigation__menu {
  margin-top: 5rem;
}

.navigation .closebtn {
  font-size: 3.6rem;
}

.navigation a {
  color: white;
  font-size: 2rem;
}

.navigation :hover {
  color: #eb2f64;
}

li {
  text-decoration: none;
  list-style: none;
  margin-top: 5rem;
  display: block;
}

.menu-bar {
  position: absolute;
  color: #05fc95;
  top: 0;
  /* Stay at the top */
  left: 0;
  z-index: 4;
  margin-left: 2rem;
  font-size: 5rem;
  -webkit-filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
          filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "montserrat", "poppins";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  overflow-x: hidden;
}

.container {
  width: 600%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

section {
  width: 100vw;
  height: 100vh;
}

.header {
  position: relative;
  height: 100vh;
  background-color: #0a0e50;
}

.header__main {
  position: absolute;
  right: 45%;
  top: 15%;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  text-align: left;
  overflow: hidden;
}

.header__main h1 {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 9.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#151ef0), color-stop(#fa0095), color-stop(#ff002f), color-stop(#fa9e00), to(#a8eb12));
  background-image: linear-gradient(to right, #151ef0, #fa0095, #ff002f, #fa9e00, #a8eb12);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) both;
          animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) both;
}

.header-clipped {
  position: absolute;
  width: 61%;
  left: 41%;
  height: inherit;
  background-color: #faf3b2;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-clip-path: polygon(33% 0, 100% 100, 100% 100%, 33% 100%, 20% 48%);
  clip-path: polygon(33% 0, 100% 0, 100% 100%, 33% 100%, 20% 48%);
}

.header-clipped .can-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 65%;
  left: 28%;
}

.header-clipped .can-wrapper .js {
  width: 150px;
}

.header-clipped .can {
  margin-right: 30px;
}

.header-clipped .can > img {
  width: 120px;
  height: auto;
  -webkit-filter: drop-shadow(-1px 10px 4px rgba(50, 50, 0, 0.5));
          filter: drop-shadow(-1px 10px 4px rgba(50, 50, 0, 0.5));
}

.header__textbox {
  color: #0a0e50;
  position: absolute;
  top: 40%;
  left: 60%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__textbox h2 {
  font-family: "rubik";
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 5rem;
  font-weight: 700;
  text-decoration: underline;
}

.header__textbox h3 {
  font-family: "raleway";
  font-weight: 700;
  font-size: 4rem;
}

.header__textbox .name {
  font-family: "roboto";
  font-size: 6rem;
  color: #f70e63;
  font-weight: 600;
  text-decoration: underline;
}

.header__textbox--sub {
  font-family: "quicksand";
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-top: 1rem;
}

.header__textbox--sub .know-more {
  background-color: yellowgreen;
  margin-top: 2rem;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.header .menu {
  cursor: pointer;
  color: #fff;
}

.project {
  position: relative;
  height: 100vh;
  background: #fcfcfc;
  transition: background-color 1s ease-out;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
}

.project .heading2 {
  color: #000;
  font-weight: 700;
  font-family: "raleway";
  font-size: 10rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  transition: background-color 1.5s ease-out;
  -webkit-transition: background-color 1.5s ease-out;
  -moz-transition: background-color 1.5s ease-out;
}

.project .para2 {
  color: #000;
  font-weight: 500;
  font-size: 1.8rem;
  font-family: "lato";
  margin-bottom: 5rem;
  text-align: center;
  letter-spacing: 0.2rem;
  transition: background-color 1.5s ease-out;
  -webkit-transition: background-color 1.5s ease-out;
  -moz-transition: background-color 1.5s ease-out;
}

.project .layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project .card:first-child {
  margin-left: 3rem;
}

.project .card {
  max-width: 25ch;
  padding: clamp(1.5rem, 20vh, 10rem) 0 0;
  background-color: #faf3b2;
  color: white;
  -webkit-filter: drop-shadow(-4px 10px 5px rgba(50, 50, 0, 0.5));
          filter: drop-shadow(-4px 10px 5px rgba(50, 50, 0, 0.5));
  -webkit-transition: -webkit-transform ease 250ms;
  transition: -webkit-transform ease 250ms;
  transition: transform ease 250ms;
  transition: transform ease 250ms, -webkit-transform ease 250ms;
  border-radius: 1rem;
  overflow: hidden;
  margin-right: 4rem;
}

.project .card-body {
  padding: 2rem;
  -webkit-transform: translateY(65%);
          transform: translateY(65%);
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(15%, rgba(0, 0, 0, 0.25)), to(black));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25) 15%, black);
}

.project .card-body p {
  color: rgba(255, 255, 255, 0.76);
  margin-bottom: 1.25em;
  margin-top: 0.5em;
}

.project .card-body > *:not(.card-title) {
  opacity: 0;
  -webkit-transition: opacity 1200ms linear 200ms;
  transition: opacity 1200ms linear 200ms;
}

.project .card-body .button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  color: black;
  background: #42f584;
  padding: 0.5em 1.25em;
  border-radius: 0.25rem;
}

.project .card-body .button:hover {
  background: white;
}

.project .card-title {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.project .card-title::after {
  content: "";
  position: absolute;
  left: -1.5rem;
  top: 100%;
  height: 3px;
  width: calc(100% + 1.5rem);
  background: #42f584;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.project .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.project .card:hover .card-body > *:not(.card-title) {
  opacity: 1;
}

.project .card:hover .card-body {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}

.project .card:hover .card-title::after {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.about {
  position: relative;
  height: 100vh;
  background: #faf3b2;
  color: #0a0e50;
}

.about .heading3 {
  font-weight: 700;
  font-family: "raleway";
  font-size: 10rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
}

.about .para3 {
  font-weight: 500;
  font-size: 1.8rem;
  font-family: "lato";
  margin-bottom: 5rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

@-webkit-keyframes text-clip {
  from {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes text-clip {
  from {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes moveinRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(10rem);
            transform: translate(10rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 100%;
  }
}

@keyframes moveinRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(10rem);
            transform: translate(10rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes moveinleft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10rem);
            transform: translate(-10rem);
  }
  80% {
    -webkit-transform: translate(1rem);
            transform: translate(1rem);
  }
  100% {
    opacity: 100%;
  }
}

@keyframes moveinleft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10rem);
            transform: translate(-10rem);
  }
  80% {
    -webkit-transform: translate(1rem);
            transform: translate(1rem);
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes reveal {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes reveal {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
/*# sourceMappingURL=main.css.map */